# Node modules
node_modules/

# Logs
npm-debug.log*
logs/
*.log

# Dependency directories
/.pnp/
.pnp.js

# Optional npm cache directory
.npm

# dotenv environment variables
.env

# Editor directories and files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
